<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
</head>

<body class="bg-gray-100 text-gray-900 w-full h-screen">
    <!-- Navbar -->
    {% if not hide_navbar %}
    <nav class="bg-[#1E1E1E] text-white shadow-md px-6 py-4 flex justify-between items-center">
        <div>
            <span class="font-bold text-2xl">ExpenseMgmt</span>
        </div>

        <div class="flex items-center">
            <!-- Role-based Navigation -->
            <ul class="flex gap-6">
                <!-- Admin -->
                <li><a href="/admin/users" class="hover:text-violet-500 transition-colors text-sm">Users</a></li>
                <li><a href="/admin/approval-rules" class="hover:text-violet-500 transition-colors text-sm">Approval
                        Rules</a>
                </li>
                <li><a href="/admin/expenses" class="hover:text-violet-500 transition-colors text-sm">Expenses</a></li>

                <!-- Employee -->
                <li><a href="/admin/users" class="hover:text-violet-500 transition-colors text-sm">Users</a></li>
                <li><a href="/admin/approval-rules" class="hover:text-violet-500 transition-colors text-sm">Approval
                        Rules</a>
                </li>
                <li><a href="/admin/expenses" class="hover:text-violet-500 transition-colors text-sm">Expenses</a></li>

                <!-- Manager -->
                <li><a href="/admin/users" class="hover:text-violet-500 transition-colors text-sm">Users</a></li>
                <li><a href="/admin/approval-rules" class="hover:text-violet-500 transition-colors text-sm">Approval
                        Rules</a>
                </li>
                <li><a href="/admin/expenses" class="hover:text-violet-500 transition-colors text-sm">Expenses</a></li>


            </ul>
        </div>

        <!-- User info & logout -->
        <div class="flex items-center gap-4">
            <span>{{ current_user_name }}</span>
            <a href="/logout"
                class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded-md transition-all duration-300">Logout</a>
        </div>
    </nav>
    {% endif %}

    <!-- Main content -->
    <main class="w-full h-screen">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>