<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
</head>

<body class="bg-gray-100 text-gray-900 w-full h-screen">

    <!-- Main content -->
    <main class="w-full h-screen">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>